body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}
h3 {
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2rem;
}

.weight-entry {
  display: grid;
  width: auto;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 80px);
  justify-content: center;
  align-items: center;
  grid-gap: 1.5rem;
}

.weight-container {
  grid-row: 1/4;
}

.tm-title {
  grid-row: 3/4;
  grid-column: 1;
  text-align: right;
}
.rm-title {
  grid-row: 2/3;
  grid-column: 1;
  text-align: right;
}

.calculate-weights {
  grid-row: 2/3;
  grid-column: -2;
}

.day {
  display: flex;
  flex-direction: column;
}

.day {
  display: flex;
  flex-direction: row;
}

.title-container {
  flex: 2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  height: 100%;
}

.day-title {
  font-size: 2rem;
}

.workouts {
  display: grid;
  flex: 8;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(11, 100px);
  align-items: center;
}
.day-title {
  grid-row: 1;
  flex: 1;
}
.t1-title {
  grid-row: 2;
  flex: 1;
}
.t2-title {
  grid-row: 3;
  flex: 1;
}
.t3-title {
  grid-row: 4;
  flex: 1;
}

.t1 {
  grid-row: 2;
}

.t2 {
  grid-row: 3;
}

.t3 {
  grid-row: 4;
  flex: 1;
}

.set {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 1;
  align-content: center;
  border: 1px black solid;
  height: 100%;
}
